<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
  <title>BloodChain</title>

<!-- CSS (load bootstrap from a CDN) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="styles.css">
