<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">
    <main>
      <section>
        <div class="main-logo">
          <img class="responsive-img" src="logo.jpg" alt="Blood Chain Logo">
          <h1>Transforming health care through smart technology</h1>
        </div>
      </section>

      <section class="benefits">
        <div class="col s12">
        <div class="row">
          <div class="col s6" id="lightning">
            <p class="lightning-description">
              Bloodchain Seeks to Fix Massive Inefficiencies in
              Healthcare by Provding Analytics to the Blood Testing Supply Chain
            </p>
          </div>
          <div class="col s6">
            <img class="responsive-img" src="predictive-analytics-graphic.png" alt="analytics picture">
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <img class="responsive-img" src="lightning.png" alt="lightning picture">
          </div>
          <div class="col s6" id="lightning">
            <p class="lightning-description"> Delivering Faster Results to Patients and Healthcare Professionals </p>
          </div>
        </div>
        <div class="row">
          <div class="col s6" id="lightning">
            <p class="lightning-description">Driving Blood Testing Costs Down By Driving Efficiences Across The Entire Bloodchain</p>
          </div>
          <div class="col s6">
            <img class="responsive-img" src="efficiency.png" alt="efficiency picture">
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <img class="responsive-img" src="health.png" alt="health picture">
          </div>
          <div class="col s6" id="lightning">
            <p class="lightning-description">Providing a Safer and Heathier Future for all</p>
          </div>
        </div>
      </div>
      </section>



      <section class="team">
        <div class="col s12">
          <img class="responsive-img" src="team.jpg" alt="Team Picture">
          <h3>Founded By:</h3>
          <ul>
            <li><p>Tim O'Sullivan</p></li>
            <li><p>Rammi Ibrahim</p></li>
            <li><p>Sean McKirdy</p></li>
            <li><p>Sharad Joshi</p></li>
            <li><p>Jack Allum</p></li>
            <li><p>Ethan Gardner</p></li>
          </ul>
        </div>
      </section>
    </main>
    <footer>
      <section class="foot">
      <div class="row">
        <div class="col s12">
        <div class="col s6">
          <p class="text-center text-muted"><h4>© Copyright 2018 The Bloodchain Team</h4></p>
        </div>
        <div class="col s6">
          <p class="text-center text-muted"><h4>Co Founded By:</h4></p>
          <ul>
            <li><h4>DIBA</h4></li>
            <li><h4>Bio-Chem Fluidics</h4></li>
            <li><h4>Accudynamics</h4></li>
            <li><h4>Halma PLC</h4></li>
          </ul>
        </div>
      </div>
      </div>
    </section>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  </body>
</html>
